.home {
    width: 100%;
    background-image: url("../../assets/images/1720810132557.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home-content {
    width: 90%;
    border-radius: 10px;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.couple {
    font-size: 2.5rem;
}

.ceremony {
    font-size: 1.7rem;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    font-size: 1.8rem;
}

@media(min-width:768px) {
    .invite {
        font-size: 6rem;
    }

    .couple {
        font-size: 2.7rem;
    }

    .ceremony {
        font-size: 2.7rem;
    }

    .conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        font-size: 2.9rem;
    }
}

.arrowdown {
    position: relative; /* Allows top to animate */
    animation: arrowdown 2s infinite ease; /* 2-second interval */
}

@keyframes arrowdown {
    0% {
        top: 0;
        opacity: 1;
    }
    50% {
        top: 3px; /* Subtle movement */
        opacity: 0.3;
    }
    100% {
        top: 6px;
        opacity: 1;
    }
}

.arrowdown.hidden {
    opacity: 0;
}

