.menu {
  font-family: "ArmCoronetU", "SHK_Dzeragir", sans-serif;
  font-size: 1.5rem;
  gap: .8rem;
  margin: 40px 0 40px 0;
}


.section-map {
  font-family: "SHK_Dzeragir", "ArmCoronetU", sans-serif;
}